@model IEnumerable<CourseApp.Models.Course>
@{
    ViewData["Title"] = "Index";
}

<div class="bg-success text-white p-4">
    Course List
</div>
<div class="card my-2">
    <div class="card-body">
        <form method="get" id="filter">
            <div class="form-group">
                <input class="form-control" name="name" value="@ViewBag.Name" placeholder="Cource Name" />
            </div>
            <div class="form-group">
                <input class="form-control" name="price" value="@ViewBag.Price" placeholder="Min price" />
            </div>
            <div class="custom-control custom-checkbox mb-2">
                <input type="checkbox" name="IsActive" checked="@ViewBag.IsActive"  id="IsActive" class="custom-control-input"/>
                <label class="custom-control-label" for="IsActive">Active</label>
            </div>
            <button class="btn btn-primary">Filter</button>
        </form>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Is Active?</th>
            <th>Instructor</th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.IsActive</td>
                <td>@item.Instructor?.Name</td>
                <td>
                    <form asp-action="Delete" method="post">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                            Edit
                        </a>
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create</a>
